<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
    <nav th:fragment="nav" class="navbar navbar-expand-lg bg-light shadow-sm sticky-top">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/img/logo.png}" alt="bookstore logo" style="width: 100px" class="me-5">
            </a>
            <form class="d-flex d-md-none flex-column align-items-end flex-grow-1 pe-4" th:action="@{/logout}" method="post">
                <small class="text-nowrap">Hello, <span sec:authentication="principal.username"/></small>
                <a href="#" role="button" onclick="this.closest('form').submit()" class="text-danger"><small>Logout</small></a>
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav mx-auto mb-2 mb-lg-0 w-100 me-md-5 mt-3 mt-md-0">
                    <div th:replace="~{fragments/search-form :: search}">&nbsp;</div>
                </div>
                <form class="d-none d-md-flex flex-column align-items-end" th:action="@{/logout}" method="post">
                    <small class="text-nowrap">Hello, <span sec:authentication="principal.username"/></small>
                    <a href="#" role="button" onclick="this.closest('form').submit()" class="text-danger"><small>Logout</small></a>
                </form>
            </div>
        </div>
    </nav>
</body>
</html>
