<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
    <nav th:fragment="nav" class="navbar navbar-expand-lg bg-light shadow-sm sticky-top">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/img/logo.png}" alt="bookstore logo" style="width: 100px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${currentUrl == '/' ? 'active' : ''}" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" th:classappend="${currentUrl == '/books/list' ? 'active' : ''}" th:href="@{/books/list}">Admin</a>
                    </li>
                </ul>
                <div>
                    <form class="d-flex flex-column align-items-end" th:action="@{/logout}" method="post">
                        <small>Hello, <span sec:authentication="principal.username"/></small>
                        <a href="#" role="button" onclick="this.closest('form').submit()" class="text-danger"><small>Logout</small></a>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>
