<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="content">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3>Book Directory</h3>

        <div th:replace="~{fragments/search-form :: search}">&nbsp;</div>
        <input type="hidden" id="uri" value="/">
    </div>

    <div class="alert alert-light" role="alert" th:if="${error}" th:text="${error}"></div>

    <div class="row g-5">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex align-items-stretch" th:each="book : ${books}">
            <div class="card">
                <img th:src="'https://covers.openlibrary.org/b/isbn/' + ${book.isbn} + '-L.jpg'" th:alt="'cover of' + ${book.title}"
                     class="card-img-top object-fit-scale pt-4 pb-2" style="height: 200px">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title text-primary" th:text="${book.title}" />
                    <p class="card-text text-secondary" th:text="${book.author}" />
                    <p class="card-text flex-grow-1" th:text="${book.description}" />
                    <p class="card-text text-secondary"><small th:text="'ISBN: ' + ${book.isbn}" /></p>

                    <button class="btn btn-outline-primary btn-sm"
                            onclick="alert('Thank you. We will process your request shortly.')">
                        Request
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
