<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="content">

    <h3 class="mb-4">Requests</h3>

    <div class="alert alert-light" role="alert" th:if="${error}" th:text="${error}"></div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped align-middle table-hover">
            <thead class="table-secondary">
            <tr>
                <th>ID</th>
                <th>Book ID</th>
                <th>Book Title</th>
                <th>Book ISBN</th>
                <th>Requested by</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            <tr th:if="${error}" >
                <td colspan="6" class="alert alert-light text-center text-secondary" role="alert" th:text="${error}"></td>
            </tr>
            <tr th:each="request : ${requests}">
                <td th:text="${request.id}" />
                <td th:text="${request.book.id}" />
                <td th:text="${request.book.title}" />
                <td th:text="${request.book.isbn}" />
                <td th:text="${request.username}" />
                <td>
                    <span th:if="${request.status} == 'pending'" class="text-warning" th:text="${#strings.capitalize(request.status)}"></span>
                    <span th:if="${request.status} == 'confirmed'" class="text-success" th:text="${#strings.capitalize(request.status)}"></span>
                    <span th:if="${request.status} == 'cancelled'" class="text-secondary" th:text="${#strings.capitalize(request.status)}"></span>
                </td>
                <td class="text-center">
                    <div th:if="${request.status} == 'pending'" class="row g-2">
                        <div class="col-6">
                            <a th:href="@{/requests/change(requestId=${request.id}, status='confirmed')}" class="btn btn-sm btn-outline-primary w-100">Confirm</a>
                        </div>
                        <div class="col-6">
                            <a th:href="@{/requests/change(requestId=${request.id}, status='confirmed')}" class="btn btn-sm btn-outline-danger w-100">Cancel</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>
